@import './variables/colors.scss';

:root {
    --backgroundPage--dark: #141414;
    --backgroundPage--light: #CBD8E8;
}

body {
    background-color: var(--backgroundPage);
}

.general {
    padding: 116px 24px 117px 24px;

    &__mainCard {

        background-color: var(--backgroundMainCard);
        padding: 24px;
        margin: 0 auto;
        max-width: 327px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        border-radius: 12px;

        @media screen and (min-width:834px) {
            max-width: 384px;
        }
    }

    &__wrapperSocialButton {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    &__themeIcons {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    &__light svg {
        cursor: pointer;
        width: 20px;
        height: 20px;
        fill: #fff;
        display: block;
    }
}