// Background Theme
$background-dark: #141414;
$background-light: #000;

// Color text 
$text-dark: #fff;
$text-light: #333;
$text-location-light: #4ee1a0;

// Card Background
$card-background-dark: #1f1f1f;
$card-background-light: #FAFAFA;

// Buttons
$social-background-dark: #333;
$social-background-light: #CCC;